@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: stretch pro;
  font-style: normal;
  font-weight: 400;
  src: local("Stretch Pro"), url(../assets/fonts/stretch-pro.otf) format("otf");
}
.hero_container {
  width: 100%;
  padding: 200px 0 150px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.hero_container h1 {
  font-family: "Stretch Pro";
  color: white;
  letter-spacing: 2px;
  text-align: center;
  font-size: 56px;
  margin: 0;
  z-index: 1;
}
@media (max-width: 640px) {
  .hero_container h1 {
    width: 300px;
    font-size: 30px;
  }
}
.hero_container p {
  font-family: "Montserrat";
  color: white;
  width: 500px;
  font-size: 14px;
  text-align: center;
  z-index: 1;
}
@media (max-width: 640px) {
  .hero_container p {
    width: 186px;
    font-size: 9px;
  }
}
.hero_container a {
  z-index: 1;
}
.hero_container button {
  font-family: "Stretch Pro";
  background-color: #500207;
  border: 1px solid white;
  color: white;
  border-radius: 12px;
  padding: 15px 20px;
  margin: 40px 0 0 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 640px) {
  .hero_container button {
    padding: 12px 15px;
    font-size: 10px;
  }
}
.hero_container button:hover {
  background-color: white;
  color: #500207;
}
.hero_container img {
  position: absolute;
  width: 900px;
  opacity: 0.3;
  z-index: 0;
}
.hero_container .overlay_1 {
  right: -300px;
  transform: scale(-1, -1);
}
@media (max-width: 768px) {
  .hero_container .overlay_1 {
    right: -500px;
  }
}
@media (max-width: 640px) {
  .hero_container .overlay_1 {
    top: 130px;
  }
}
.hero_container .overlay_2 {
  left: -300px;
}
@media (max-width: 768px) {
  .hero_container .overlay_2 {
    left: -500px;
  }
}
@media (max-width: 640px) {
  .hero_container .overlay_2 {
    bottom: 200px;
  }
}

.about_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 80px 0;
}
@media (min-width: 640px) {
  .about_container {
    padding: 0 0 80px 0;
  }
}
.about_container span {
  font-family: "Stretch Pro";
  font-size: 28px;
}
@media (min-width: 640px) {
  .about_container span {
    font-size: 36px;
  }
}
.about_container p {
  font-family: "Montserrat";
  font-size: 12px;
  text-align: center;
  width: 300px;
  margin-top: 30px;
}
@media (min-width: 640px) {
  .about_container p {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .about_container p {
    width: 700px;
  }
}

.offer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 50px;
}
.offer_container .offer_title span {
  font-family: "Stretch Pro";
  font-size: 36px;
}
.offer_container .course_sec_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.offer_container .course_sec_1 .course_container {
  width: 160px;
  height: 180px;
  border: 2px solid white;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.offer_container .course_sec_1 .course_container .course_icon {
  width: 120px;
}
.offer_container .course_sec_1 .course_container .course_icon img {
  width: 100%;
}
.offer_container .course_sec_1 .course_container span {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
}
.offer_container .course_sec_1 .course_container a {
  position: absolute;
  bottom: -16px;
}
.offer_container .course_sec_1 .course_container a button {
  cursor: pointer;
  font-family: "Montserrat";
  border-radius: 9px;
  background-color: white;
  color: #500207;
  border: none;
  padding: 8px 15px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.offer_container .course_sec_1 .course_container a button:hover {
  color: #8b010a;
}
.offer_container .sec_2_head {
  width: 500px;
  margin-top: 90px;
}
.offer_container .sec_2_head img {
  width: 100%;
}
.offer_container .course_sec_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 90px;
}
.offer_container .course_container {
  width: 160px;
  height: 180px;
  border: 2px solid white;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.offer_container .course_container .course_icon {
  width: 120px;
}
.offer_container .course_container .course_icon img {
  width: 100%;
}
.offer_container .course_container span {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
}
.offer_container .course_container a {
  position: absolute;
  bottom: -16px;
}
.offer_container .course_container a button {
  cursor: pointer;
  font-family: "Montserrat";
  border-radius: 9px;
  background-color: white;
  color: #500207;
  border: none;
  padding: 8px 15px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.offer_container .course_container a button:hover {
  color: #8b010a;
}/*# sourceMappingURL=home_style.css.map */