@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: stretch pro;
  font-style: normal;
  font-weight: 400;
  src: local("Stretch Pro"), url(../assets/fonts/stretch-pro.otf) format("otf");
}
body, html {
  margin: 0;
  padding: 0;
  background-color: #500207;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 24px;
}
nav .nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 70px;
  padding: 0 30px;
  backdrop-filter: blur(16px) saturate(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: height 0.3s ease-in-out;
}
@media (max-width: 640px) {
  nav .nav_container {
    width: 80%;
    height: 60px;
    align-items: start;
    padding: 20px 20px 0 20px;
  }
  nav .nav_container.open {
    height: 250px;
  }
}
nav .nav_container .nav_logo {
  width: 100px;
}
@media (max-width: 640px) {
  nav .nav_container .nav_logo {
    width: 35px;
  }
}
nav .nav_container .nav_logo img {
  width: 100%;
}
nav .nav_container .nav_logo img:nth-child(1) {
  display: none;
}
@media (min-width: 640px) {
  nav .nav_container .nav_logo img:nth-child(1) {
    display: block;
  }
}
@media (min-width: 640px) {
  nav .nav_container .nav_logo img:nth-child(2) {
    display: none;
  }
}
@media (max-width: 640px) {
  nav .nav_container .nav_links {
    display: none;
  }
}
nav .nav_container .nav_links ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
nav .nav_container .nav_links ul a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
}
nav .nav_container .ham_menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  top: 30px;
  right: 20px;
}
nav .nav_container .ham_menu div {
  width: 25px;
  height: 2px;
  border-radius: 50px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
nav .nav_container .ham_menu div.open:nth-child(1) {
  transform: rotate(45deg) translate(3px, 7px);
}
nav .nav_container .ham_menu div.open:nth-child(2) {
  opacity: 0;
}
nav .nav_container .ham_menu div.open:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -9px);
}
@media (min-width: 640px) {
  nav .nav_container .ham_menu {
    display: none;
  }
}
nav .nav_container .mob_menu {
  position: absolute;
  bottom: 0;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
nav .nav_container .mob_menu.open {
  visibility: visible;
  opacity: 1;
}
nav .nav_container .mob_menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
  list-style: none;
}
nav .nav_container .mob_menu ul a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
}
@media (min-width: 640px) {
  nav .nav_container .mob_menu {
    display: none;
  }
}/*# sourceMappingURL=nav_style.css.map */