@import "./variables.scss";

.hero_container{
    width: 100%;
    padding: 200px 0 150px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    h1{
        font-family: $heading;
        color: $white;
        letter-spacing: 2px;
        text-align: center;
        font-size: 56px;
        margin: 0;
        z-index: 1;

        @media(max-width:640px){
            width: 300px;
            font-size: 30px;
        }
    }
    p{
        font-family: $para;
        color: $white;
        width: 500px;
        font-size: 14px;
        text-align: center;
        z-index: 1;

        @media(max-width:640px){
            width: 186px;
            font-size: 9px;
        }
    }
    a{
        z-index: 1;
    }
    button{
        font-family: $heading;
        background-color: $primary;
        border: 1px solid $white;
        color: $white;
        border-radius: 12px;
        padding: 15px 20px;
        margin: 40px 0 0 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        @media(max-width:640px){
            padding: 12px 15px;
            font-size: 10px;

        }

        &:hover{
            background-color: $white;
            color: $primary;
        }
    }


    img{
        position: absolute;
        width: 900px;
        opacity: .3;
        z-index: 0;
    }

    .overlay_1{
        right: -300px;
        transform: scale(-1,-1);

        @media(max-width: 768px){
            right: -500px;
        }
        @media(max-width:640px){
            top: 130px;
        }
    }
    .overlay_2{
        left: -300px;

        @media(max-width: 768px){
            left: -500px;
        }
        @media(max-width:640px){
            bottom:200px;
        }
    }
}


.about_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 80px 0;

    @media(min-width:640px){
        padding: 0 0 80px 0;
    }

    span{
        font-family: $heading;
        font-size: 28px;
        @media(min-width:640px){
            font-size: 36px;
        }
    }

    p{
        font-family: $para;
        font-size: 12px;
        text-align: center;
        width: 300px;
        margin-top: 30px;

        @media(min-width:640px){
            width: 500px;
        }

        @media(min-width:768px){
            width: 700px;
        }
    }
}

.offer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $white;
    gap: 50px;

    .offer_title{
        span{
            font-family: $heading;
            font-size: 36px;
        }
    }
    .course_sec_1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;

        .course_container{
            width: 160px;
            height: 180px;
            border: 2px solid $white;
            border-radius: 16px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .course_icon{
                width: 120px;
                img{
                    width: 100%;
                }
            }

            span{
                font-family: $para;
                font-weight: 500;
                font-size: 20px;
            }

            a{
                position: absolute;
                bottom: -16px;
                button{
                    cursor: pointer;
                    font-family: $para;
                    border-radius: 9px;
                    background-color: $white;
                    color: $primary;
                    border: none;
                    padding: 8px 15px;
                    font-weight: 500;
                    transition: color .3s ease-in-out;

                    &:hover{
                        color: #8b010a;
                    }
                }
            }
        }
    }

    .sec_2_head{
        width: 500px;
        margin-top: 90px;
        img{
            width: 100%;
        }
    }

    .course_sec_2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 90px;
    }

    .course_container{
        width: 160px;
        height: 180px;
        border: 2px solid $white;
        border-radius: 16px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .course_icon{
            width: 120px;
            img{
                width: 100%;
            }
        }

        span{
            font-family: $para;
            font-weight: 500;
            font-size: 20px;
        }

        a{
            position: absolute;
            bottom: -16px;
            button{
                cursor: pointer;
                font-family: $para;
                border-radius: 9px;
                background-color: $white;
                color: $primary;
                border: none;
                padding: 8px 15px;
                font-weight: 500;
                transition: color .3s ease-in-out;

                &:hover{
                    color: #8b010a;
                }
            }
        }
    }
}